<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Du3aaAPI</title>
    <link rel="stylesheet" href="./style/style.min.css">

    <script src="./javascript/alerts.js" defer></script>
</head>
<body dir="rtl">
    <div class="msg"></div>
    
    <div class="card">
        <div class="title">du3aaAPI</div>
        <div class="paragraph">
            <p>اسمح لـ تطبيق <span>du3aaAPI</span> بتغريد دعاء من حسابك كل ساعة</p>
            <p>تطبيق <span>du3aaAPI</span> مغلق.</p>
        </div>
      
        <div class="policy">
            <hr>
            <ul>
                <li>نتبع شروط وقوانين موقع تويتر</li>
                <li>لن نقوم بنشر او بيع بيانات الحسابات المشتركة</li>
                <li>ننشر تغريدة واحدة (دعاء) كل ساعة بشكل آلي فقط</li>
            </ul>
            <hr>

            <p><span>ملاحظة:</span> ان لم نقوم بالتغريد من حسابك فهذا يعني ان هناك أعمال صيانة للآلي. نعمل على أن يكون الآلي خال من الأخطاء</p>
        </div>
      
        <div class="button">
            <%- url %> 
        </div>
    </div>

    <!-- TBR -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            if(Cookies.get('alert') == undefined){
                $('.msg').html(`
                <div class="alert alert-dismissible primary">
                    Hello World
                    <button class="alert-btn">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                `)
                $(".alert-btn").on("click",function(){
                    $(this).closest(".alert-dismissible").hide()
                    Cookies.set('alert', 1, { path: '/' })
                })
            }
        });
    </script>
</body>
</html>
