<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Du3aaAPI</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mymk95/q8-prayers/dist/all.min.css">
    <link rel="stylesheet" href="/style/style.min.css">

    <script src="https://cdn.jsdelivr.net/gh/mymk95/q8-prayers/dist/all.min.js" defer></script>
    <script src="/javascript/dark-mode.js" defer></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<body dir="rtl">
    <div class="card">
        <div id="q8prayers" data-lang="ar"></div>

        <div class="twitter-follow">
            <p>نقوم بتغريد دعاء كل نصف ساعة</p>
            <a href="https://twitter.com/du3aaAPI?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="ar" data-show-count="true">Follow @du3aaAPI</a>
        </div>
        
        <div class="twitter-feed">
            <a class="twitter-timeline" data-lang="ar" data-height="300" href="https://twitter.com/du3aaAPI?ref_src=twsrc%5Etfw">Tweets by du3aaAPI</a>
        </div>

        <div class="api-page">
            <a href="https://api.du3aa.rest" target="_blank">API</a>
        </div>
    </div>

    <div class="version">
        <p><span>v</span><%= version %></p>
    </div>

</body>
</html>
