// $BodyBackground: rgb(243, 242, 242);
$BodyBackground: #f5f5f5;
$CardBackground: #fff;
$FontColor: #000;
// $ButtonBackground: #F6B352;
$ButtonBackground: lightgray;
$ButtonHoverBackground: #F68657;
