// _card
.card {
  background: $CardBackground;
  border: $CardBorder;
  color: $FontColor;

  .err{
    color: $ErrorColor;
  }

  .api-page{
    a{
      color: $APIpageLink;
    }
  }
}

// _prayerTable
td, th {
  color: $prayerTableColor;
}

#prayer-table {
  border-color: $prayerTableBorderColor; 
}

#prayer-table td, #prayer-table th {
  border-color: $prayerTableTHBorderColor;
}

#prayer-table th {
  color:$prayerTableHeaderColor;
  background-color: $prayerTableHeaderBGColor;
}

// _alert
.msg{
  .alert{
    color: $CardBackground;

    &.success{
      color: $SuccessColor;
      border: $SuccessBorder;
      background: $SuccessBackground;
    }

    &.danger{
      color: $DangerColor;
      border: $DangerBorder;
      background: $DangerBackground;
    }

    &.warning{
      color: $WarningColor;
      border: $WarningBorder;
      background: $WarningBackground;
    }

    &.primary{
      color: $PrimaryColor;
      border: $PrimaryBorder;
      background: $PrimaryBackground;
    }
  }
}

// Footer version
.version{
  a{
    color: $VersionColor;
  }

  span{
    color: $VersionColor;
  }
}
