body.dark{
    // Main
    $BodyBackground: rgb(20, 20, 20);
    $FontColor: #fff;
    $ErrorColor: rgb(180, 0, 0);

    // Card
    $CardBackground: #292F33;
    $CardBorder: 1px solid #7a7a7a;

    // Prayer table
    $prayerTableColor: #c4c4c4;
    $prayerTableHeaderColor: rgb(150, 150, 150);
    $prayerTableBorderColor: rgb(207, 207, 207);
    $prayerTableTHBorderColor: #636363;
    $prayerTableHeaderBGColor: rgb(40, 40, 40);

    // Alerts
    $SuccessColor: rgb(0, 255, 0);
    $SuccessBorder: 1px solid rgb(0, 255, 0);
    $SuccessBackground: rgb(0, 45, 0);

    $DangerColor: rgb(255, 0, 0);
    $DangerBorder: 1px solid rgb(255, 0, 0);
    $DangerBackground: rgb(45, 0, 0);

    $WarningColor: rgb(255, 160, 0);
    $WarningBorder: 1px solid rgb(255, 160, 0);
    $WarningBackground: rgb(45, 25, 0);

    $PrimaryColor: rgb(30, 30, 255);
    $PrimaryBorder: 1px solid rgb(0, 0, 255);
    $PrimaryBackground: rgb(0, 0, 45);

    // Applying style
    background: $BodyBackground;
    @import './core';
}
